<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <style>
        .table {
            text-align: center;
        }

        .table th,
        .table td {
            text-align: center;
            vertical-align: middle;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script>
        // Reload the page every 60 seconds
        setInterval(function () {
            {
                window.location.reload();
            }
        }, 30000);

        // Initialize DataTables
        $(document).ready(function () {
            $('table').DataTable({
                "pageLength": 25,
                "order": [[1, "asc"]]
            });
        });
    </script>
</head>

<body>
    <div class="container">
        <h1>CCL Calculator - Update Time {{updated_time}}</h1>
        <br></br>
        {{ table_html | safe }}
    </div>
</body>

</html>